name: CI

on: pull_request

jobs:
  jjb:
    runs-on: ubuntu-latest
    name: Jenkins Job Builder
    steps:
      - uses: actions/checkout@v6
      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Run tests
        run: |
          ./test
